.edit-review-container {
    height: 250px;
    width: 600px;
    border-radius: 10%;
    border: solid black 3px;
    border-radius: 3px;
}

.rating-top-div {
    display: flex;
    justify-content: space-around;
}

.buttons-div {
    display: flex;
    gap: 5px;
    justify-content: center;
}