.content-field {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    height:100px;
    word-break: break-word;
}

.review-buttons {
    display: flex;
    gap: 5px
}

.review-container {
    border: solid black 3px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 7px;
}

.review-top-line {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.review-poster-info {
    display: flex;
    justify-content: space-between;
}

.review-average-rating {
    border: solid black 3px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 7px;
}

.review-total-rating {
    border: solid black 3px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 7px;
}