.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: black 1px solid;
    background-color: lightgrey;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    height: 5vh;
    border-radius: 15px;
}

.navlinks {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}