.game-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
}

.feed-title {
    display: flex;
    justify-content: center;
    align-items: center;
}