.game-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    /* width: 100%; */
    grid-gap: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
}