.game-details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 10px; */
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(70px, auto);
    border: solid black 3px;
    /* height: 600px;
    width: 1000px */
    /* height: 80%;
    width: 80% */
    width: 70vw;
    height: 45vw
}

.left-half {
    grid-column: 1 / 2;
    grid-row: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 3px;
    object-fit: contain;
}

.right-half {
    /* height: 45vw; */
    /* height: 80%; */
    border: black solid 3px;
    /* width: 100%; */
    overflow-y: auto;
    /* object-fit: contain; */
}

.post-review {
    border-top: black solid 3px;
    width: 100%;
    overflow-y: auto;
}

.game-details-image {
    object-fit: contain;
    width: 30vw;
    height: 50%;
}

.game-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edite-delete {
    display: flex;
    justify-content: space-between;
}

/* .picture-div {
    display: flex;
} */

/* .profile-picture-2 {
    width: 15px;
    height: 15px
} */
