.game-details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 10px; */
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(70px, auto);
    border: solid black 3px;
    /* height: 600px;
    width: 1000px */
    /* height: 80%;
    width: 80% */
    width: 70vw;
    height: 45vw
}

.left-half {
    /* grid-column: 1 / 2;
    grid-row: 1; */

    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 3px;
    /* object-fit: contain; */
    /* overflow-wrap: break-word; */
    /* overflow-y: auto */
    /* word-wrap: break-word;      */
    /* overflow-wrap: break-word; */

    /* height: 99%; */
    width: 100%;
    overflow-y: auto;
}

.right-half {
    /* height: 45vw; */
    /* height: 80%; */
    border: black solid 3px;
    /* width: 100%; */
    overflow-y: auto;
    /* object-fit: contain; */
}

.post-review {
    border-top: black solid 3px;
    height: 35%;
    width: 100%;
    overflow-y: auto;
}

.game-details-image {
    object-fit: contain;
<<<<<<< Updated upstream
    /* width: 30vw; */
    height: 40%;
    width: auto
=======
    width: auto;
    height: 150px;
>>>>>>> Stashed changes
}

.game-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-delete {
    display: flex;
    justify-content: space-around;
}

.left-half-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 65%;
    overflow-y: auto;
    word-break: break-all;

}

.top-of-top {
    display: flex;
    justify-content: space-around;
}