.game-details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(70px, auto);
    border: solid black 3px;
    width: 70vw;
    height: 45vw
}

.left-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 3px;
    width: 100%;
    overflow-y: auto;
}

.right-half {
    border: black solid 3px;
    overflow-y: auto;
}

.post-review {
    border-top: black solid 3px;
    height: 35%;
    width: 100%;
    overflow-y: auto;
}

.game-details-image {
    object-fit: cover;
    height: 150px;
    width: 100px;
    text-align: center;
    border-radius: 1em;
    outline: 2px solid black;
    background-color: white;
}

.game-name {
    font-weight: bolder;
}

.game-description {
    font-style: italic;
}

.edit-delete {
    display: flex;
    justify-content: space-around;
}

.left-half-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 60%;
    overflow-y: auto;
    word-break: break-all;

    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
}

.top-of-top {
    display: flex;
    justify-content: space-around;
}
