.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    gap: 10px;
}

.signup-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid rgb(182, 179, 179) 1px;
    height: 500px;
    width: 350px;
    gap: 50px;
}

.bottom-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: white;
    border: solid rgb(182, 179, 179) 1px;
    width: 250px;
}

.form-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-buttons {
    margin-top: 5px;
}

.signup-message {
    margin: 5px auto 5px;
    width: 180px;
    text-align: center;
    color:rgb(109, 109, 109);
}

.site-title {
    margin: 5px 0;
    text-align: center;
}
