.edit-button {
    width: 100px;
    background-color: rgba(0,149,246,.3);
    color: black;
    border: none;
    border-radius: 3px;
    margin: 5px;
}

.edit-button:hover {
    background-color: rgba(0,149,246);
}
